# Maven - Pasta de compilação e dependências
target/

# IDEs e arquivos de configuração
.settings/
.project
.classpath
.factorypath
.vscode/
.idea/
*.iml

# Logs e arquivos temporários
*.log

# Arquivos de sistema e metadados
.DS_Store
Thumbs.db